body {
    font-family: "Montserrat";
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid {
    padding: 3% 14% 2%;
}

h1 {
    font-family: "Montserrat-Black", sans-serif;
    font-size: 3.2rem;
    line-height: 1.5;
    font-weight: 900;
}

h2 {
    font-family: "Montserrat-Bold";
    font-size: 3rem;
    line-height: 1.2;
}

h3 {
    font-family: "Montserrat-bold";
    font-size: 1.5rem;
    color: black;
}

p {
    color: #8f8f8f;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";

}

/* Download Buttons */

.Download-button {
    margin: 5% 3% 5% 0;
}

/* Title image */

.title-image {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    /* Its must be necessary to appy position for z index work */
    right: 20%;
}

/* features section */

#features {
    padding: 5% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;

}

.testimonial-image {
    width: 13%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 45px 50px;

}

/* Pricing Section */

#pricing {
    padding: 80px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

/* CTA Section */

#cta {
    background-color: #ff4c68;
    padding: 7% 15%;
    text-align: center;
}

.cta-heading {
    color: #fff;
    font-family: "Montserrat-Black";
    font-size: 3.2rem;
    line-height: 1.5;
}

/* footer */

#footer {
    padding: 7% 13%;
    text-align: center;
}

.social-icon {
    margin: 20px 10px;
}

/* Just to adjusting the viewport of the mobile and tablet  */
@media (max-width:1020px) {
    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        width: 40%;

        transform: rotate(0);
    }

    #features {
        position: relative;
        z-index: 1;
    }


}